<section class="col-md-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Please select any other options</h3>
		</div>
		<div class="panel-body container">

			<div class="row">
				<div class="col-xs-4">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="options.autoplay"> Autoplay
						</label>
					</div>
				</div>

				<div class="col-xs-4">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="options.controls"> Show Controls
						</label>
					</div>
				</div>
				
				<div class="col-xs-4">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="options.loop"> Loop Video
						</label>
					</div>
				</div>
			</div>
		</div>

		<div class="panel-heading">
			<h3 class="panel-title">Please select a pre-loading option</h3>
		</div>
		<div class="panel-body container">
			<div class="row">

				<div class="col-xs-4">
					<div class="radio">
						<label>
							<input type="radio" ng-model="options.preload" value="none"> None
						</label>
					</div>
				</div>
				
				<div class="col-xs-4">
					<div class="radio">
						<label>
							<input type="radio" ng-model="options.preload" value="auto"> Auto
						</label>
					</div>
				</div>

				<div class="col-xs-4">
					<div class="radio">
						<label>
							<input type="radio" ng-model="options.preload" value="metadata"> Metadata
						</label>
					</div>
				</div>
				
			</div>

		</div>
	</div>
</section>