<section class="col-md-6">
	<div class="panel panel-default customPosition">
		<div class="panel-heading">
			<h3 class="panel-title">Custom Button Positioning</h3>
		</div>
		<div class="panel-body">
			<div class="positionContainer">
				<input type="radio" name="customButtonPosition" ng-model="customButtonPosition" value='{"v":"top", "h":"left"}' class="top left" />
				<input type="radio" name="customButtonPosition" ng-model="customButtonPosition" value='{"v":"top", "h":"center"}' class="top center" />
				<input type="radio" name="customButtonPosition" ng-model="customButtonPosition" value='{"v":"top", "h":"right"}' class="top right" />

				<input type="radio" name="customButtonPosition" ng-model="customButtonPosition" value='{"v":"middle", "h":"left"}' class="middle left" />
				<input type="radio" name="customButtonPosition" ng-model="customButtonPosition" value='{"v":"middle", "h":"center"}' class="middle center" />
				<input type="radio" name="customButtonPosition" ng-model="customButtonPosition" value='{"v":"middle", "h":"right"}' class="middle right" />

				<input type="radio" name="customButtonPosition" ng-model="customButtonPosition" value='{"v":"bottom", "h":"left"}' class="bottom left" />
				<input type="radio" name="customButtonPosition" ng-model="customButtonPosition" value='{"v":"bottom", "h":"center"}' class="bottom center" />
				<input type="radio" name="customButtonPosition" ng-model="customButtonPosition" value='{"v":"bottom", "h":"right"}' class="bottom right" />
			</div>
		</div>
	</div>
</section>